<h1>What do you want?</h1>
<form action="/answer" method="get">
  <div class="mb-3">
    <input type="test" class="form-control" name="question" placeholder="Question Time">
    <input type="submit" value="SUBMIT" class="btn btn-primary mt-2">
  </div>
</form>
